<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="input-container">
      <img src="../../../assets/logo.png" height='120' width='120'>
      <Strong>Insira seus dados de login</Strong>
      <ion-input [(ngModel)]="login.username"></ion-input>
      <ion-input [(ngModel)]="login.senha" type="password"></ion-input>
      <ion-button (click)="onLogin()">Login</ion-button>
      <ion-button color="success" (click)="addUser()" >Inscrever-se </ion-button>
    </div>
  </div>
</ion-content>