ion-input {
    width: 80%;
    height: 20px;
    background-color: #92949c;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

.body {
    height: 100%;
    padding-top: 60%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}