<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div *ngFor="let game of userGames">
    <ion-card>
      <ion-card-header>
        <img src={{game.imagem}} />
        <div class="card-content">
          <div class="game-info">
            <ion-card-title>{{game.nome}}</ion-card-title>
            <ion-card-subtitle>Horas jogadas: {{game.horas}}h</ion-card-subtitle>
            <ion-card-subtitle>Classificação: {{game.classificacao}}</ion-card-subtitle>
            <ion-card-subtitle>Gênero: {{game.genero}}</ion-card-subtitle>
            <ion-card-subtitle>Sistemas: {{game.sistemas}}</ion-card-subtitle>
          </div>
          <div class="buttons">
            <ion-button shape="circle" color="warning" id="edit-button" (click)="onEdit(game)">
              <ion-icon name="pencil-sharp"></ion-icon>
            </ion-button>
            <ion-button shape="circle" color="danger" (click)="onDelete(game.id)">
              <ion-icon name="trash-sharp"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>

<ion-button shape="circle" color="success" id="add-button" (click)="addGame()">
  <ion-icon name="add-outline"></ion-icon>
</ion-button>